@import 'normalize.css';

/* david-libre-latin-400-normal */
@font-face {
    font-family: 'David Libre';
    font-style: normal;
    font-display: fallback;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-400-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-400-normal.woff)
            format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* david-libre-latin-500-normal */
@font-face {
    font-family: 'David Libre';
    font-style: normal;
    font-display: fallback;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-500-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-500-normal.woff)
            format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* david-libre-latin-700-normal */
@font-face {
    font-family: 'David Libre';
    font-style: normal;
    font-display: fallback;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-700-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-700-normal.woff)
            format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* david-libre-latin-ext-400-normal */
@font-face {
    font-family: 'David Libre';
    font-style: normal;
    font-display: fallback;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-ext-400-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-ext-400-normal.woff)
            format('woff');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7,
        U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
        U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
        U+A720-A7FF;
}

/* david-libre-latin-ext-500-normal */
@font-face {
    font-family: 'David Libre';
    font-style: normal;
    font-display: fallback;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-ext-500-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-ext-500-normal.woff)
            format('woff');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7,
        U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
        U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
        U+A720-A7FF;
}

/* david-libre-latin-ext-700-normal */
@font-face {
    font-family: 'David Libre';
    font-style: normal;
    font-display: fallback;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-ext-700-normal.woff2)
            format('woff2'),
        url(https://cdn.jsdelivr.net/fontsource/fonts/david-libre@latest/latin-ext-700-normal.woff)
            format('woff');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7,
        U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
        U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
        U+A720-A7FF;
}

@font-face {
    font-family: '仓耳今楷';
    font-style: normal;
    font-display: fallback;
    font-weight: 400;
    src: url('./fonts/仓耳今楷05-w03.woff2') format('woff2');
}

@font-face {
    font-family: '仓耳今楷';
    font-style: normal;
    font-display: fallback;
    font-weight: 800;
    src: url('./fonts/仓耳今楷05-w05.woff2') format('woff2');
}

body,
html {
    font-family: 'David Libre', '仓耳今楷', Georgia, 'Times New Roman', Times;
    overflow: hidden;
    height: 100%;
}

/* 定义普通模式和深色模式下的背景颜色变量 */
:root {
    --code-bg-color-light: #eff1f2; /* 普通模式的背景颜色 */
    --code-bg-color-dark: #333333;  /* 深色模式的背景颜色 */
}

/* 应用到code标签的样式 */
code {
    border: 1px solid;
    border-radius: 0.2rem;
    padding: 0rem 0.15rem;
    background-color: var(--code-bg-color-light); /* 默认使用普通模式的背景颜色 */
}

/* 深色模式下的样式覆盖 */
@media (prefers-color-scheme: dark) {
    code {
        background-color: var(--code-bg-color-dark); /* 深色模式使用深色背景颜色 */
    }
}

.astro-code code {
    border: none !important; /* 当code标签在pre标签内时，移除边框 */
}