---
import PostCard from "./postCard.astro"
---

<div class="h-screen overflow-y-scroll p-2">
    <div class="space-y-4">
        <PostCard />
        <PostCard />
        <PostCard />
        <PostCard />
        <PostCard />
        <PostCard />
    </div>
</div>
