---
import { getEntry, render } from 'astro:content';

const entry = await getEntry('about', 'aboutme');
const { Content, headings } = await render(entry!);
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>Radish Garden</title>
    </head>
    <body
        class='bg-bodyLight dark:bg-bodyDark flex flex-col font-serif overflow-hidden'
        style='height: calc(100vh - 4rem)'
    >
        <slot name='header' />
        <main class='flex flex-col w-full h-full items-center'>
            <div
                class='flex flex-col w-11/12 md:w-3/4
                border-2 border-bgDark
                shadow-2xl shadow-bgDark dark:shadow-fontDark
                p-4 pt-8 pb-20 mt-2 mb-2 overflow-scroll'
            >
                <div class='flex flex-col md:flex-row md:justify-around items-center'>
                    <div class='flex md:items-center justify-center'>
                        <img
                            src='avatar.png'
                            alt='avatar'
                            class='border-2 bg-bgLight shrink-0 
                            md:h-48 md:w-48'
                        />
                    </div>
                    <div class='flex flex-col items-center md:items-start italic w-11/12 md:w-3/4'>
                        <p
                            class='text-3xl text-profileTextLight dark:text-profileTextDark'
                        >
                            Ryan
                            <span
                                class='text-xl ml-6 text-descriptionTextLight dark:text-descriptionTextDark dark:opacity-80'
                            >
                                ---- A CS enthusiast <span class='not-italic'
                                    >🥰</span
                                >
                            </span>
                        </p>
                        <p
                            class='text-lg md:ml-4 indent-8 text-fontLight dark:text-fontDark 
                            tracking-wider text-justify'
                        >
                            I'm a student at Nanjing University of Posts and
                            Telecommunications (<a
                                href='https://www.njupt.edu.cn'
                                class='underline'>NJUPT</a
                            >), where I'm studying Computer Science and
                            Technology. I'm really interested in all things
                            computer-related, and I've set up this blog to share
                            my knowledge and insights on learning computer
                            technology. I've also included some of my notes and
                            resources on
                            <a
                                href='https://github.com/LuoYuXuanRyan'
                                class='underline'>GitHub</a
                            > if you'd like to learn more about me. If you have any
                            questions, please feel free to contact me via
                            <a
                                href='mailto:1505172926@qq.com?subject=From%20Astro%20Blog%20'
                                class='underline'
                            >
                                Email</a
                            > .
                        </p>
                    </div>
                </div>
                <div
                    class='flex justify-center text-lg font-serif text-fontLight dark:text-fontDark mt-10'
                >
                    <div class='w-11/12 indent-8 leading-8 tracking-wider text-justify'>
                        <Content />
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
