---
import Github from '../components/icons/github.astro';
import Mail from '../components/icons/mail.astro';
import FirendLinks from '../components/icons/friendLinks.astro';
import FriendLinkItem from '../components/friendLinkItem.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
const totalPosts = posts.length;
let tags = new Set();
posts.map((post) => {
    post.data.tags.map((tag) => {
        tags.add(tag);
    });
});
const totalTags = tags.size;
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>Radish Garden</title>
    </head>
    <body
        class='bg-bodyLight dark:bg-bodyDark flex flex-col font-serif
        overflow-y-scroll md:overflow-hidden'
        style='height: calc(100vh - 4rem)'
    >
        <slot name='header' />
        <main class='flex flex-1 flex-col md:flex-row'>
            <div
                class='md:bg-bgLight md:dark:bg-bgDark flex flex-auto flex-col md:w-3/12 md:pl-16'
            >
                <div
                    class='bg-foilLight dark:bg-foilDark flex flex-col items-center
                    md:mt-2 md:ml-8 md:mr-4
                    mt-4 ml-4 mr-4
                    rounded-2xl'
                >
                    <img
                        src='avatar.png'
                        alt='avatar'
                        class='rounded-full mt-2 bg-bgLight border-2 hover:animate-spin
                        md:h-40 md:w-40
                        h-44 w-44'
                    />
                    <p
                        class='text-profileTextLight dark:text-profileTextDark text-2xl mt-2 italic'
                    >
                        Ryan
                    </p>
                    <p
                        class='text-descriptionTextLight dark:text-descriptionTextDark text-bg italic'
                    >
                        ---- A CS enthusiast <span class='not-italic'>🥰</span>
                    </p>
                    <div
                        class='flex flex-row w-full justify-around mt-4 mb-4 text-2xl text-profileTextLight dark:text-profileTextDark'
                    >
                        <div class='flex flex-col items-center'>
                            <p>Posts:</p>
                            <p>{totalPosts}</p>
                        </div>
                        <div class='flex flex-col items-center'>
                            <p>Tags:</p>
                            <p>{totalTags}</p>
                        </div>
                    </div>
                    <div
                        class='flex flex-row w-full mb-4 justify-around text-bg text-profileTextLight dark:text-profileTextDark'
                    >
                        <a
                            href=''
                            class='inline-flex w-2/5 justify-center hover:bg-bgLight dark:hover:bg-bgDark rounded-md'
                        >
                            <Github class='h-6 w-4 mr-1' />
                            GitHub
                        </a>
                        <a
                            href=''
                            class='inline-flex w-2/5 justify-center hover:bg-bgLight dark:hover:bg-bgDark rounded-md'
                        >
                            <Mail class='h-6 w-4 mr-1' />
                            Mail
                        </a>
                    </div>
                </div>
                <div
                    class='bg-foilLight dark:bg-foilDark flex flex-col items-center
                    text-bg text-profileTextLight dark:text-profileTextDark
                    md:mt-2 md:ml-8 md:mr-4
                    m-4
                    rounded-2xl
                    p-4 pt-0'
                >
                    <div class='flex flex-row mt-2'>
                        <FirendLinks class='h-6 w-4 mr-1' />
                        Friend Links
                    </div>
                    <FriendLinkItem blogName="BlockLune's Blog" link="https://blocklune.cc" />
                </div>
            </div>
            <div
                class='flex-auto md:w-8/12
                md:ml-0.5 md:mr-0.5
                ml-2 mr-2'
            >
                <slot name='main' />
            </div>
            <div
                class='bg-bgLight dark:bg-bgDark flex-auto w-2/12 hidden md:block'
            >
                <div class='flex justify-center'>
                    <p
                        class='italic text-descriptionTextLight dark:text-descriptionTextDark'
                    >
                        Posts grows here~
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>
