---
import Rss from "../components/icons/rss.astro"
import Github from "../components/icons/github.astro"
import Mail from "../components/icons/mail.astro"
import FirendLinks from "../components/icons/friendLinks.astro"
const totalBlogs = 12
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Radish Garden</title>
	</head>
	<body class="bg-bodyLight dark:bg-bodyDark h-screen flex flex-col font-serif">
		<header class="mb-0.5">
			<div class="bg-bgLight dark:bg-bgDark h-24 pl-6 pr-6 flex justify-between items-center">
                <div class="flex">
                    <a href="/" class="text-fontLight dark:text-fontDark text-5xl font-serif italic">Radish Garden</a>
                    <Rss class="text-fontLight dark:text-fontDark h-8 w-8 ml-2"/>
                </div>
                <nav class="text-fontLight dark:text-fontDark text-xl">
                    <ul class="flex">
                        <li class="inline-flex flex-initial p-2 mr-2">
                            <a href="/posts">Blogs</a>
                        </li>
                        <li class="inline-flex flex-initial p-2">
                            <a href="/about">About</a>
                        </li>
                    </ul>
                </nav>
            </div>
		</header>
        <main class="flex flex-1">
            <div class="flex flex-1">
                <div class="bg-bgLight dark:bg-bgDark flex flex-auto flex-col w-3/12">
                    <div class="bg-foilLight dark:bg-foilDark flex flex-col items-center mt-2 ml-8 mr-4 rounded-2xl">
                        <img src="avatar.png" alt="avatar" class="rounded-full w-40 h-40 border-2 border-bgDark mt-10 bg-bodyLight hover:animate-spin"/>
                        <p class="text-profileTextLight dark:text-profileTextDark text-2xl mt-2 italic">
                            Ryan
                        </p>
                        <p class="text-descriptionTextLight dark:text-descriptionTextDark text-bg italic">
                            A CS enthusiast <span class="not-italic">🥰</span>
                        </p>
                        <div class="flex flex-row w-full justify-center mt-4 mb-4 text-2xl text-profileTextLight dark:text-profileTextDark">
                            <div class="flex flex-col items-center mr-14">
                                <p>Blogs: </p>
                                <p>{totalBlogs}</p>
                            </div>
                            <div class="flex flex-col items-center">
                                <p>Tags: </p>
                                <p>{totalBlogs}</p>
                            </div>
                        </div>
                        <div class="flex flex-row w-full mb-4 justify-center text-bg text-profileTextLight dark:text-profileTextDark">
                            <a href="" class="inline-flex w-2/5 mr-1 justify-center hover:bg-bgLight dark:hover:bg-bgDark rounded-md">
                                <Github class="h-6 w-4 mr-1" />
                                GitHub
                            </a>
                            <a href="" class="inline-flex w-2/5 justify-center hover:bg-bgLight dark:hover:bg-bgDark rounded-md">
                                <Mail class="h-6 w-4 mr-1"/>
                                Mail
                            </a>
                        </div>
                    </div>
                    <div class="bg-foilLight dark:bg-foilDark flex flex-col items-center mt-2 ml-8 mr-4 rounded-2xl min-h-28">
                        <div class="flex flex-col items-center text-bg text-profileTextLight dark:text-profileTextDark">
                            <div class="flex flex-row mt-2">
                                <FirendLinks class="h-6 w-4 mr-1"/>
                                Friend Links
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-auto w-7/12 ml-0.5 mr-0.5">
                    <slot />
                </div>
                <div class="bg-bgLight dark:bg-bgDark flex-auto w-2/12">
                    <p>right</p>
                </div>
            </div>
        </main>
	</body>
</html>