---
import Rss from '../components/icons/rss.astro';
---

<header class='mb-0.5'>
    <div
        class='bg-bgLight dark:bg-bgDark h-16 pl-6 pr-6 flex justify-between items-center'
    >
        <div class='flex'>
            <a
                href='/'
                class='text-fontLight dark:text-fontDark
                md:text-5xl text-3xl
                font-bold'
            >
                Radish Garden
            </a>
            <a href='/rss.xml'>
                <Rss class='text-fontLight dark:text-fontDark md:h-6 md:w-6 h-6 w-6 ml-2' />
            </a>
        </div>
        <nav class='text-fontLight dark:text-fontDark text-xl'>
            <ul class='flex'>
                <li class='inline-flex flex-initial p-2 md:mr-2 mr-1'>
                    <a href='/'>Blogs</a>
                </li>
                <li class='inline-flex flex-initial p-2'>
                    <a href='/about'>About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
