---
import FriendLink from '../components/friendLink.astro';
import '../styles/mathjax.css';
import '../styles/global.css';
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>Radish Garden</title>
    </head>
    <body
        class='bg-bodyLight dark:bg-bodyDark flex flex-col overflow-hidden'
        style='height: calc(100vh - 4rem)'
    >
        <slot name='header' />
        <main class='flex flex-1'>
            <div
                class='bg-bgLight dark:bg-bgDark hidden md:flex flex-auto flex-col w-3/12 pl-16'
            >
                <div
                    class='bg-foilLight dark:bg-foilDark flex flex-col items-center mt-2 ml-8 mr-4 rounded-2xl pt-4 pb-4'
                >
                    <slot name='headings' />
                </div>
                <FriendLink />
            </div>
            <div
                class='flex-auto w-8/12 ml-0.5 mr-0.5 overflow-scroll p-10 pb-24'
                style='height: calc(100vh - 4rem)'
            >
                <slot name='article' />
            </div>
            <div
                class='bg-bgLight dark:bg-bgDark hidden md:flex flex-auto w-2/12 justify-center'
            >
                <p
                    class='italic text-descriptionTextLight dark:text-descriptionTextDark'
                >
                    Posts grows here~
                </p>
            </div>
        </main>
    </body>
</html>
