---
import Rss from '../components/icons/rss.astro';
import Github from '../components/icons/github.astro';
import Mail from '../components/icons/mail.astro';
import FirendLinks from '../components/icons/friendLinks.astro';
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>Radish Garden</title>
    </head>
    <body
        class='bg-bodyLight dark:bg-bodyDark h-screen flex flex-col font-serif'
    >
        <header class='mb-0.5'>
            <div
                class='bg-bgLight dark:bg-bgDark h-16 pl-6 pr-6 flex justify-between items-center'
            >
                <div class='flex'>
                    <a
                        href='/'
                        class='text-fontLight dark:text-fontDark text-5xl font-serif italic'
                    >
                        Radish Garden
                    </a>
                    <Rss
                        class='text-fontLight dark:text-fontDark h-8 w-8 ml-2 mr-20'
                    />
                </div>
                <nav class='text-fontLight dark:text-fontDark text-xl'>
                    <ul class='flex'>
                        <li class='inline-flex flex-initial p-2 mr-2'>
                            <a href='/'>Blogs</a>
                        </li>
                        <li class='inline-flex flex-initial p-2'>
                            <a href='/about'>About</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class='flex flex-1'>
            <div class='flex flex-1'>
                <div
                    class='bg-bgLight dark:bg-bgDark flex flex-auto flex-col w-3/12 pl-16'
                >
                    <div
                        class='bg-foilLight dark:bg-foilDark flex flex-col items-center mt-2 ml-8 mr-4 rounded-2xl pt-4 pb-4'
                    >
                        <slot name='headings' />
                    </div>
                    <div
                        class='bg-foilLight dark:bg-foilDark flex flex-col items-center mt-2 ml-8 mr-4 rounded-2xl min-h-28'
                    >
                        <div
                            class='flex flex-col items-center text-bg text-profileTextLight dark:text-profileTextDark'
                        >
                            <div class='flex flex-row mt-2'>
                                <FirendLinks class='h-6 w-4 mr-1' />
                                Friend Links
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class='flex-auto w-8/12 ml-0.5 mr-0.5 h-screen overflow-scroll p-10'
                >
                    <slot name='article' />
                </div>
                <div class='bg-bgLight dark:bg-bgDark flex-auto w-2/12'>
                    <div class='flex justify-center'>
                        <p
                            class='italic text-descriptionTextLight dark:text-descriptionTextDark'
                        >
                            Posts grows here~
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
